body {
	font-family: "Lato", sans-serif;
	background: #f8f8f8;
}

.sidenav {
	height: 100%;
  width: 216px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #181818;
  overflow-x: hidden;
  padding: 300px 18px;
	color: #f5f5f5;
	font-size: 13pt;
	font-weight: 700;
	font-family: "Lato", sans-serif;
}

.sidenav a {
  text-decoration: none;
  color: #e50000;
  display: block;
}

.sidenav a:hover {
  color: #880000;
}

.sidenav-title {
	color: #f8f8f8;
	font-size: 15pt;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main {
  margin-left: 246px; /* Same width as the sidebar + left position in px */
	color: #000000;
  font-size: 13pt;
	font-weight: 300;
  padding: 30px 40px;
}

.main a {
  text-decoration: none;
  color: #e50000;
}

.main a:hover {
  color: #880000;
}

.main-title {
	font-family: "Lato", sans-serif;
	font-size: 24pt;
	font-weight: 700;
	text-align: center;
	padding-bottom: 80px;
}

.contact-table td {
	font-size: 14pt;
	font-weight: 700;
}

.contact-table ul {
	font-size: 13pt;
	font-weight: 300;
	list-style-type: none;
}

.schedule {
	
}

.syllabus td {
	padding: 0px 0px;
	padding-right: 20px;
	font-size: 13pt;
	font-weight: 300;
	border-collapse: collapse;
	vertical-align: top;
}

.syllabus th {
	font-size: 13pt;
	text-align: left;
	padding: 0px 0px;
	padding-bottom: 4px;
}

.schedule td {
	padding: 8px 4px;
	font-size: 12pt;
	font-weight: 300;
	border-collapse: collapse;
	vertical-align: top;
}

.schedule th {
	font-size: 12pt;
	text-align: left;
	padding: 0px 4px;
	padding-bottom: 16px;
	text-decoration: underline;
}

.schedule tr:nth-child(odd) {
	background: #f8f8f8;
}

.schedule tr:nth-child(even) {
	background: #f0f0f0;
}

.schedule ul {
	margin-top: 8px;
	margin-bottom: 8px;
}

.schedule li {
	
}

.syllabus ul {
	margin-top: 8px;
	margin-bottom: 8px;
}